$color-primary :#F44336;
$color-primary-light :#FFCDD2;
$color-primary-dark:#D32F2F;

$color-secondary:#8BC34A;

$color-white:#fff;
$color-black:#000;

$color-text-grey:#d4d4d4;
$color-text-grey-light:#ebebeb;