.header {
    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url(../img/spon&masala.png);
    width: 98.9vw;
    height: 92.2vh;


    &__text {
        font-family: 'Forum', cursive;
        font-size: 20rem;
        color: $color-white;
        animation: in-left 2.7s;
    }
}