.order {
    text-align: center;
    height: 60vh;
    width: 100vw;
    padding: 9rem 10rem;
    background-image: linear-gradient(to top, rgba($color-primary-dark, .6), rgba($color-primary, 1)60%);


    &__head-text {
        color: $color-primary-light;
        font-size: 7rem;
    }

    &__sub-text {
        color: $color-primary-light;
        font-size: 4rem;
        padding: 3rem 0;

    }

    &__linklist {

        margin: 2.5rem 6rem 0 6rem;
        display: flex;
        list-style: none;
        justify-content: space-around;

        &-item {}

        &-link {

            &:visited,
            &:link {
                display: flex;
                height: 5rem;
                width: 15rem;
                justify-content: center;
                align-items: center;
                font-size: 2.35rem;
                text-decoration: none;
                color: $color-white;
                background-color: $color-secondary;
                border-radius: 1rem;
                box-shadow: 0 .8rem 2rem rgba($color: #000000, $alpha: .3);
                transition: all .2s;
            }

            &:hover {
                transform: translateY(-.3rem);
                background-color: #83b848;
            }

            &:active {
                transform: translateY(.2rem);
            }
        }
    }
}