*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%; //1rem = 10px

}

body {
    box-sizing: border-box;
    font-family: $font-other;
}

h1,
h2,
h3 {
    font-family: $font-heading;
}

p {
    font-family: $font-other;
}